*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: rgb(0, 0, 0);
    color: #f0f0f0;
    margin: 0;
    padding: 2rem;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #0caac9ff;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(99, 224, 67);
    font-size: 3.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: rgb(7, 156, 5);
    border-radius: 13px;
    padding: 1rem;
    box-shadow: 0 0 12px rgb(99, 224, 67);
    transition: tranform 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    margin-top: 0;
    color: #0caac9ff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.card p {
    margin: 0;
    font-size: 1.2rem;
}

.card img {
    width: 100%;
    border-radius: 13px;
    margin-bottom: 1rem;
    box-shadow: 0 0 12px rgba(0, 255, 174, 0.2); 
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#request-method {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    background-color: rgba(17, 255, 179, 0.87);
    color: #1e1e2f;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem;
}

button:hover{
    background-color: rgba(45, 250, 114, 0.87);
    color: #ffffff;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;    
}